body {
    margin: 0;
    margin-top: 20px;
    display: inline-flex;
    position: relative;
    background-size: cover;
}

.container {
    width: calc(22px*30);
    height: calc(22px*20);
    line-height: 0;
}

.tile {
    height: 20px;
    width: 20px;
    border: 1px solid white;
    display: inline-block;
}
.tileSky{
    background-color: lightblue;
}

.tilecolor {
    background-color: red;
}

.tileLeaves {
    background-image: url('https://i.imgur.com/3m3Oi.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.tileWood {
    background-image: url('https://lh3.googleusercontent.com/ZjBSxSNDG6Wi-eWJ7rP65GWZtBuS7QIL6LDgv3z4ny34Ju9oL-VnEmuqmO7tNYMKwPw_z4wKXDmj740ikI_few=s500');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.tileRock {
    background-image: url(' https://lh3.googleusercontent.com/UFbXAadvQV6kN084EsCNdDPqi653aEgrvqBvdVdj4iP4pVrjjRj6M67UuFwIyMCx6g8U5erTlvFyrlbg2Eie6w=s400');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.groundtop {
    background-image: url('https://static.planetminecraft.com/files/resource_media/screenshot/1607/f18ad6e0592b315a3e001883c8db9a6e9884526.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.ground {
    background-image: url('../images/ground_below_tile.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.cloud {
    background-color: white;
}

.toolbox {
    border: 1px black solid;
    width: 200px;
    height: 600px;
    margin-right: 250px;
    background-color: grey;
    padding: 20px;
    display: flex;
    flex-direction: column;
    opacity: 0.8;
}

table {
    border-collapse: separate;
    border-spacing: 15px 20px;
}

tr {
    margin: 20px;
}

.color_pallet td {
    border: 1px black solid;
    width: 40px;
    height: 40px;
    border-radius: 8px
}

.pallet {
    width: 40px;
    height: 40px;
}

#axe {
    background-image: url("https://gamepedia.cursecdn.com/minecraft_gamepedia/thumb/8/81/Iron_Axe.png/150px-Iron_Axe.png?version=3b3b259d0d6f48d11420a3e6fcacfbbb");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain
}

#pickaxe {
    background-image: url("https://gamepedia.cursecdn.com/minecraft_gamepedia/b/b3/Wooden_Pickaxe.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#shovel {
    background-image: url("../images/shovel.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain
}

.border {
    border: 1px black solid;
    margin: 10px;
}

.inventory {
    color: white;
    margin-left: auto;
    margin-right: auto
}

#inventory-item {

    height: 50px;
    width: 50px;
    border: 1px black solid;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;

}

.box {
    opacity: 0.8;
    background-color: darkgrey
}

button {
    margin: 10px;
    border: 1px black solid
}

a {
    text-decoration: none
}

:any-link {
    color: black
}